:root {
    --fonte: "BBH Bogle";
    --fonte2: "Montserrat";
    --preto: rgb(97, 81, 81);
}
body{
    color: var(--preto);
}

.tit{
    display: flex;
    justify-content: center;
}

h1{
    margin: 0,5em 0;
    font-family: var(--fonte), sans-serif;
}

h2{
    font-family: var(--fonte), sans-serif;
}
.opcoes{
    font-size: 15px;
    margin-top: 0.5em;
}

.gabarito-box{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.gabarito-box p {
    font-size: 20px;
    font-weight: 700;
}

.opcoes input{
    appearance: none; /* Remove aparência padrão */
    -webkit-appearance: none;
    -moz-appearance: none;
    
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px; /* Bordas levemente arredondadas (0 para quadrado perfeito) */
    background-color: #fff; 
}
.opcoes input:checked {
    background-color: black;
}


.gabarito-box button{
border:  2px solid  var(--preto);

}

.gabarito-box button:hover{
    background-color: var(--preto);
}

fieldset{
    border: solid var(--preto);
    color: var(--preto);
    font-family: var(--fonte2);
    font-size: 12px;
    margin-bottom:1em;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.125em
}
.nivel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

input[type="text"]{
    width: 100%;
}

.submit{
    display: flex;
    justify-content: center;
}
.submit-t{
    font-family: var(--fonte);
    width: 45%;
    border:solid var(--preto);
    margin: 0.25em 0;
}
.questoes-grade{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
}
.questoes-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin: 1em;
}
@media screen and (min-width: 1024px){
   body{
    display: flex;
    justify-content: center;
   }
    .formulario{
        width: 50%;
    }
    legend{
        font-size: 15px;
    }
    h1{
        font-size: 50px;
    }
}