.Descricaodaquestao{
    width: 200px;
    height: 30px;
    
}
.Descricaodaquestao button {
    width: 100%;
    height: 100%;
    border: 4px solid ;
    border-radius: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte) sans-serif;

}
