.DescricaoDaQuestao{
display: flex;
width: 35px;
height: 35px;
align-items: center;
border-radius: 8px;
border: 3px solid ;
background-color: white;
}

.DescricaoDaQuestao-wrapp{
    padding: 0;
}

.DescricaoDaQuestao:hover {
    background-color: var(--cinza);
}

.DescricaoDaQuestao img {
    width: 100%;
}
.DescricaoDaQuestao img :hover {
    color: white;
}