body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="radio"],
[type="checkbox"] {
  padding: 0;
  margin: 0;
}
